* {
    box-sizing: border-box;
    outline: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(46, 131, 228);
}

.container {
    max-width: 550px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.relogio {
    font-size: 2.5em;
}

.red-font {
    color: red;
}